<table class="table">
  <thead>
    <th>Item</th>
    <th>Count</th>
  </thead>
  <tbody>
    <tr ng-repeat="order in orderSummary">
      <td>{{order['_id']}}</td>
      <td>{{order.count}}</td>  
    </tr>  
  </tbody>
</table>