<i class="icon-small icon-filter"></i>
<form class="form-inline" role="form">
  <label>Filter By: </label>
  <select class="form-control margin-right" ng-model="selectFilter" ng-options="option.filter for option in selectOptions">
  <div class="form-group padding-left">
    <div class="input-group">
      <label class="sr-only" for="filter">Company or Address</label>
      <input type="text" ng-model="filterText" class="form-control" id="filter" placeholder="{{selectFilter.value}}">
    </div>
  </div>
   <button ng-click="filterClickHandler(selectFilter.value, filterText)" class="btn btn-default">Filter</button>
   <a href="#/dashboard" class="btn btn-default">Clear</a>
</form>
<hr></hr>
<div>
<table class="table">
  <thead>
    <tr>
      <th>Order ID</td>
      <th>Company Name</th>
      <th></th>
      <th>Customer Address</th> 
      <th></th>
      <th>Ordered Item</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="order in orders">
      <td>{{order.Id}}</td>
      <td>{{order.CompanyName}}</td>
      <td ng-click="filterClickHandler('name', order.CompanyName)"><i class="icon-large icon-filter pointer"></i></td>
      <td>{{order.Address}}</td>
      <td ng-click="filterClickHandler('address', order.Address)"><i class="icon-large icon-filter pointer"></i></td>
      <td>{{order.Item}}</td>
      <td><button ng-click="deleteHandler(order.Id)" class="btn btn-danger">Delete</button></td>
    </tr>
  <tbody>
</table>
<div>